.form-contacts-section {
  padding-right: 40px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
}

.form-title {
  padding-bottom: 44px;
}

.form-input-wrapper {
  display: flex;
  column-gap: 30px;
  margin-bottom: 44px;
  width: 100%;
}

.form-field {
  position: relative;
  margin-bottom: 44px;
  width: 100%;
  height: 76px;

  color: get-color("third-accent");
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  transition: color $transition-animation;

  .form-input-wrapper > & {
    margin-bottom: 0;
    width: calc((100% - 30px) / 2);
    height: auto;
  }

  &:focus-within {
    color: get-color("second-accent");
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;

    background-color: currentColor;
  }
}

.form-input {
  display: block;
  padding-bottom: 8px;
  width: 100%;

  color: currentColor;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  border: transparent;
  background-color: transparent;
  outline: transparent;
}

textarea.form-input {
  padding: 0;
  height: 100%;

  resize: none;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;

  transition: transform $transition-animation;

  .form-field:focus-within > &,
  .form-input:not(:placeholder-shown) + & {
    transform: translateY(-20px);
  }
}
