.social {
  &-list {
    @include centerFlex();
    column-gap: 20px;
  }

  &-list > .item {
    font-size: 11px;
    line-height: 1.36;
  }

  &-list > .item:first-child {
    @include centerFlex();
    column-gap: 40px;
  }

  &-list > .item:first-child::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
  }

  &-link {
    @extend %link;
    padding: 10px;

    color: get-color("third");
    font-style: normal;
    font-weight: 600;

    letter-spacing: 0.2em;
  }
}
