$color-palette: (
  primary: #555555,
  second: #9da4bd,
  third: #303030,
  accent: #ff6c00,
  second-accent: #ffffff,
  third-accent: rgba(157, 164, 189, 0.6),
  bg: rgba(25, 28, 38, 0.2),
  second-bg: #f7f7f7,
  third-bg: #111319,
);
